<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Teaches</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    </head>
	<body>
		
		<nav class="navbar navbar-expand-sm bg-light navbar-light">
		  <ul class="navbar-nav">
		    <li class="nav-item active">
		      <a class="nav-link" href="/">Home</a>
		    </li>
		    <li class="nav-item active">
		      <a class="nav-link" href="/departments">Departments</a>
		    </li>
		    <li class="nav-item active">
		      <a class="nav-link" href="/instructors">Instructors</a>
		    </li>
		    <li class="nav-item active">
		      <a class="nav-link" href="/students">Students</a>
		    </li>
		    <li class="nav-item active">
		      <a class="nav-link" href="/sections">Sections</a>
		    </li>
		    <li class="nav-item active">
		      <a class="nav-link" href="/teaches">Teaches</a>
		    </li>
		  </ul>
		</nav>
		<div class="jumbotron">
		  <h1 style="text-align: center;">List of Instructors and Sections</h1>
		  <form action="/teaches/searchSec" method="get">
			<label for="fname">Enter Instructor Id to search for Sections taught by that instructor:</label>
			<input type="text" id="fname" name="instructor_id">
			<input type="submit" value="Search" class="btn btn-primary">
		</form>
		<form action="/teaches/searchInst" method="get">
			<label for="fname">Enter Section Id to search for Instructors teaching that section:	</label>
			<input type="text" id="fname" name="section_id">
			<input type="submit" value="Search" class="btn btn-primary">
		</form>
		    <table class="table table-striped">
		    	<thead>
		    <tr>
		      <th>Instructor Id</th>
		      <th>Section Id</th>
		      <th>Delete</th>
		      <th>Update</th>
		    </tr>
		    </thead>
		    <tbody>
		    <% teaches.forEach((teach) => {%>
		    <tr>
		      <td><a href="/teaches/<%=teach.instructor_id%>/instructor"><%=teach.instructor_id%></a></td>
		      <td><a href="/teaches/<%=teach.section_id%>/section"><%=teach.section_id%></a></td>
		      <td>
		        <form action="/teaches/<%=teach.instructor_id%>/<%=teach.section_id%>/delete" method ="POST">
		          <button class ="btn btn-danger">Delete</button>
		        </form>
		      </td>
		      <td>
		        <form action="/teaches/<%=teach.instructor_id%>/<%=teach.section_id%>/update" method ="GET">
		          <button class ="btn btn-primary">Update</button>
		        </form>
		      </td>
		    </tr>
		    <%})%>
		    </tbody>
		    </table>

		    <a href="/teaches/create">Add New Tuple</a>
		    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		</div>
		
	</body>
</html>
